// -----------------------------------------------------------------------------
// Définition du conteneur main
// -----------------------------------------------------------------------------

/**
 * largeur
 * padding
 */

.container{
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}