// -----------------------------------------------------------------------------
// définition du conteneur principal
// -----------------------------------------------------------------------------

/**
 * largeur max du conteneur princpal
 * $max-width
 */

.container{
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}