// -----------------------------------------------------------------------------
// propriétés des menus et effet d'apparition à l'ouverture de la page
// -----------------------------------------------------------------------------

.dish{
    width: 100%;
    margin-bottom: 1.2rem;
    &__title{
        width: 2.5rem;
        border-bottom: 3px solid $tertiary-color;
        padding-bottom: 4px;
        margin: 0 0 0.8rem 0;
        font-size: 1.24rem;
        font-variant: small-caps;
    }
    &__list{
        display: flex;
        flex-direction: column;
        margin: 0;
        @include tablet{
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        & .dish-item{
            @include tablet{
                width: 48%;
            }
            animation: dish-anim backwards cubic-bezier(.62,.24,.58,.73) $lenght-dish-anim;
            @include create-class-anim;
        }
    }
}
// animation des lignes de menu à l'ouverture
@keyframes dish-anim {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
    
}