// -----------------------------------------------------------------------------
// propriétés du header - header de l'accueil avec une bordure
// inférieure et flèche de retour arrière désactivée.
// -----------------------------------------------------------------------------
.header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 21px 0 14px;
    /* active la bordure inférieure du header  /
    /  sur la page d'accueil                  */
    &--border{
        border-bottom: 2px solid $middle-grey-color;
    }
    & .header-content{
        width: 72%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* la flèche de retour arrière présente sur les
        /  pages des restaurants */
        &__backward{
            margin: 0 23.5% 0 1.38rem;
            & i{
                font-size: 1.3rem;
                font-weight: 900;
            }
            /* désactivation du retour arrière pour la
            /  page d'accueil */         
            &--disable{
                display: none;
            }
        }
        &__logo{
            width: 61.11%;
            @include tablet{
                width: 38.89%;
            }
            @include desktop{
                width: 25%;
            }
        }
    }
}