// -----------------------------------------------------------------------------
// style du header.
// -----------------------------------------------------------------------------
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px 0 13px;
    width: 100%;
    min-height: 4.125rem;
    @include tablet {
        height: 100px;
    }
    border-bottom: 2px solid $middle-grey-color;
    &__logo{
        width: 44%;
        @include tablet {
            width: 28%
        }
        @include desktop {
            width: 18%;
        }
    }
}