// -----------------------------------------------------------------------------
// style du conteneur des cartes restaurants
// -----------------------------------------------------------------------------

/**
 * largeur
 * padding
 */
.resto{
    padding: 0 1.26rem;
    display: flex;
    flex-direction: column;
    // align-items: center;
    & .card{
        margin-bottom: 1rem;
        // width: 90%;
    }
}