// -----------------------------------------------------------------------------
// style du conteneur des cartes restaurants
// -----------------------------------------------------------------------------

/**
 * largeur
 * padding
 */
.resto{
    width: 100%;
    padding: 0 5.3%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    @include tablet{
        padding: 0 8%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    @include desktop{
        flex: 1;
    }
    }
    &__title{
        width: 100%;
        margin-bottom: 1.4rem;
    }
    & .card{
        margin-bottom: 1.25rem;
        @include tablet{
            width: 45%;
            margin-bottom: 3rem;
        }
    }
}