@charset "UTF-8";
/*  width < 768px: smartphone
/   992px < width > 768px: tablette
/   width > 992px: desktop
*/
/**
 * mixin pour l'affichage sur tablette
 * breakpoint = 768px
 */
/**
 * mixin pour l'affichage sur desktop
 * breakpoint = 992px
 */
/**
 * largeur
 * padding
 */
.restaurant, .home {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .restaurant, .home {
    flex-direction: row;
    align-items: stretch;
  }
}
.restaurant .around, .home .around {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurant .around, .home .around {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) {
  .restaurant .around, .home .around {
    width: 35%;
    max-width: 400px;
    max-height: 100%;
    flex-direction: column;
    margin-bottom: 5rem;
  }
}
.restaurant .main, .home .main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .restaurant .main, .home .main {
    flex: 1;
  }
}

/**
 * Extension pour définir le style du coeur et son remplissage
 * 
 */
/**
 * mise en place de boc-sizing
 */
html {
  box-sizing: border-box;
}

/**
 * conserve la propriété héritée box-sizing
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * style des liens
 */
h3 {
  margin: 0;
}

p {
  margin: 0;
}

/**
 * style des liens
 */
ul {
  padding: 0;
}

/**
 * style des liens
 */
li {
  list-style: none;
  margin: 0;
}

/**
 * style des liens
 */
a {
  color: inherit;
  font-weight: 900;
  text-decoration: none;
}

/**
 * typographie de base
 */
body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.48rem;
  font-weight: 600;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.13rem;
  font-weight: 700;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.06rem;
  font-weight: 400;
}

/**
 * largeur
 * padding
 */
.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 21px 0 14px;
  /* active la bordure inférieure du header  /
  /  sur la page d'accueil                  */
}
.header--border {
  border-bottom: 2px solid #D6D6D6;
}
.header .header-content {
  width: 72%;
  display: flex;
  justify-content: end;
  align-items: center;
  /* la flèche de retour arrière est désactivée sur  /
  /  la page d'accueil grâce à la classe .disable    /
  /  présente dans _base                            */
}
.header .header-content__backward {
  margin: 0 23.5% 0 1.38rem;
}
.header .header-content__backward i {
  font-size: 1.3rem;
  font-weight: 900;
}
.header .header-content__backward--disabled {
  display: none;
}
.header .header-content__logo {
  width: 61.11%;
}
@media screen and (min-width: 768px) {
  .header .header-content__logo {
    width: 38.89%;
  }
}
@media screen and (min-width: 992px) {
  .header .header-content__logo {
    width: 25%;
  }
}

/**
 * largeur
 * padding
 */
.nav {
  counter-reset: list_item;
  width: 100%;
  margin-bottom: 4.7rem;
  padding-left: 5.5%;
}
@media screen and (min-width: 768px) {
  .nav {
    width: 40%;
    margin: 0 8% 0 0;
    align-self: center;
  }
}
@media screen and (min-width: 992px) {
  .nav {
    width: 100%;
    margin-right: 0;
    align-self: initial;
  }
}
.nav__title {
  margin: 1.15rem 0 1.9rem;
}
@media screen and (min-width: 768px) {
  .nav__title {
    margin: 0 1rem;
  }
}
.nav__item {
  counter-increment: list_item;
  margin-bottom: 1.47rem;
  height: 74px;
  vertical-align: middle;
  position: relative;
}
.nav__item::before {
  z-index: 1;
  width: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: 26px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  border-radius: 50%;
  background-color: #9356DC;
  content: counter(list_item);
}
.nav__item__label {
  height: 100%;
  width: 92%;
  position: absolute;
  left: 12px;
  padding-left: 1.9rem;
  display: flex;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 5px 8px 0px #C9C9C9;
  background-color: #F6F6F6;
}
.nav__item__label:hover {
  box-shadow: 0 8px 8px 1px #9b9b9b;
  background-color: #F5EDFF;
}
.nav__item__label:hover :nth-child(1) {
  color: #9356DC;
}
.nav__item__label i {
  width: 20px;
  text-align: center;
  margin-right: 1.4rem;
  font-size: 18px;
}

.dish-group {
  width: 100%;
  margin-bottom: 1.2rem;
}
.dish-group__title {
  width: 2.5rem;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  margin-bottom: 0.9rem;
  font-size: 1.24rem;
  font-variant: small-caps;
}
.dish-group .dish {
  display: flex;
  flex-direction: column;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .dish-group .dish {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.dish-group .dish__item {
  width: 100%;
  padding: 0.8rem 1.25rem 0.8rem 0.35rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 5px 4px 0 #D6D6D6;
  margin-bottom: 0.85rem;
}
@media screen and (min-width: 768px) {
  .dish-group .dish__item {
    width: 48%;
  }
}
.dish-group .dish__item__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}
.dish-group .dish__item__description b {
  font-size: 1.1rem;
  margin-bottom: 0.35rem;
}
.dish-group .dish__item__price {
  font-size: 1rem;
  font-weight: 600;
}

.footer {
  padding: 1.5rem 1rem;
  background-color: #353535;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 3rem 2rem;
  }
}
.footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.12rem;
  margin: 0 0.5rem 1.18rem;
}
@media screen and (min-width: 768px) {
  .footer h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .footer h2 {
    font-size: 1.8rem;
  }
}
.footer__menu {
  margin: 0;
}
@media screen and (min-width: 992px) {
  .footer__menu {
    columns: 300px 2;
    width: 700px;
  }
}
.footer__menu__item {
  margin: 0 0.32rem 0.45rem;
  font-size: 1rem;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  .footer__menu__item {
    font-size: 1.2rem;
    margin: 0 0.32rem 0.6rem;
  }
}
.footer__menu__item i {
  line-height: 19px;
  width: 20px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 900;
  text-align: center;
  margin-right: 0.36rem;
}
@media screen and (min-width: 768px) {
  .footer__menu__item i {
    font-size: 1rem;
    width: 27px;
  }
}
@media screen and (min-width: 992px) {
  .footer__menu__item i {
    margin-right: 0.5rem;
  }
}

/**
 * largeur
 * padding
 */
button {
  line-height: 3rem;
  border: none;
  border-radius: 3rem;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 5px 8px 0px #C9C9C9;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
}
button:hover {
  box-shadow: 0 8px 8px 1px #9b9b9b;
  background: linear-gradient(to left top, #a16be0, #ff93e1);
}

/**
 * largeur
 * padding
 */
form {
  width: 100%;
  padding: 0.84rem 0 0.84rem 6.5rem;
  display: flex;
  background-color: #EAEAEA;
}
form label {
  margin-right: 0.9rem;
}
form input {
  border: 0;
  background-color: transparent;
  font-weight: 600;
}

.heart {
  font-size: 25px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.heart:hover::after {
  opacity: 1;
}
.heart::after {
  font: var(--fa-font-solid);
  content: "\f004";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  opacity: 0;
  z-index: 2;
  transition: opacity 1000ms ease-in-out;
}

/**
 * largeur
 * padding
 */
.card {
  width: 100%;
  position: relative;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 5px 5px 7px #C9C9C9;
}
.card__new {
  padding: 7px 11px;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #99E2D0;
  font-size: 14px;
  font-weight: 700;
  color: #008766;
}
.card__bgheart {
  position: absolute;
  right: 23px;
  bottom: 30px;
  width: 25px;
  height: 25px;
}
.card__wrap {
  display: flex;
  flex-direction: column;
}
.card__wrap__img {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.card__wrap__img img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
}
.card__wrap__info {
  min-height: 75px;
  flex: auto;
  padding: 5% 3.8% 0%;
  display: flex;
  flex-direction: column;
}
.card__wrap__info h3 {
  margin-bottom: 1%;
}

.home .business {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding-bottom: 3.5rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .home .business {
    width: 46%;
    padding-bottom: 5rem;
  }
}
@media screen and (min-width: 992px) {
  .home .business {
    width: 100%;
    margin-bottom: 5rem;
  }
}
.home .business form {
  margin-bottom: 1.4rem;
}
.home .business__title {
  width: 65%;
  margin-left: 15%;
  margin-bottom: 0;
  text-align: center;
}
.home .business__slogan {
  width: 88%;
  margin: 0.85rem 0 1.85rem 7.5%;
  font-size: 1.14rem;
  text-align: center;
}
.home .business__btn {
  width: 58%;
  max-width: 230px;
  margin-left: 0.45rem;
  align-self: center;
}
.home .main {
  padding: 0 5.3%;
  margin-bottom: 3rem;
}
.home .main__title {
  width: 100%;
  margin-bottom: 1.4rem;
}
.home .main__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .home .main__cards {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.home .main__cards .card {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .home .main__cards .card {
    width: 45%;
    margin-bottom: 3rem;
  }
}

.restaurant .around {
  max-height: 13.7rem;
}
@media screen and (min-width: 768px) {
  .restaurant .around {
    max-height: 20rem;
  }
}
@media screen and (min-width: 992px) {
  .restaurant .around {
    max-height: 100%;
    margin-bottom: 0;
  }
}
.restaurant .around img {
  width: 100%;
  height: max-content;
}
@media screen and (min-width: 992px) {
  .restaurant .around img {
    width: 900px;
    height: 100%;
    object-position: -200px;
  }
}
.restaurant .main {
  background: #F6F6F6;
  border-radius: 40px 40px 0 0;
  padding: 2.3rem 0.8rem 4rem 1.2rem;
}
@media screen and (min-width: 992px) {
  .restaurant .main {
    border-radius: 40px 0 0 40px;
    padding: 2.3rem 2.5rem;
  }
}
.restaurant .main__name {
  display: flex;
  align-items: center;
  margin-bottom: 1.9rem;
}
.restaurant .main__name h2 {
  margin: 0 2rem 0 0;
  font-family: "Shrikhand", cursive;
  font-weight: 700;
  font-style: oblique;
  font-size: 1.7rem;
}
.restaurant .main__board {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 992px) {
  .restaurant .main__board {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurant .main__btn {
  width: 55%;
  max-width: 11.2rem;
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
