// -----------------------------------------------------------------------------
// styles des boutons.
// -----------------------------------------------------------------------------

/**
 * largeur
 * padding
 */
button{
    line-height: 3rem;
    border: none;
    border-radius: 3rem;
    background: linear-gradient(to left top, $primary-color, $secondary-color);
    color: $white-color;
    font-weight: 600;
    @include event-btn($event-btn);
}