


.heart{
    font-size: 25px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    &:hover{
        &::after{
            opacity: 1;
            transform: scale(1);
        }
    }
    &::after{
        font: var(--fa-font-solid);
        content: "\f004";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to left top, $primary-color, $secondary-color);
        background-clip: text;
        color: transparent;
        transform-origin: bottom;
        opacity: 0;
        transform: scale(0);
        z-index: 2;
        transition: transform 2500ms cubic-bezier(.9,.04,.26,.74), opacity 2000ms linear;
    }
}