// -----------------------------------------------------------------------------
// fichier des styles de base
// -----------------------------------------------------------------------------

/**
 * mise en place de boc-sizing
 */
html {
  box-sizing: border-box;
}
/**
 * conserve la propriété héritée box-sizing
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/**
 * largeur maximale et centrage du body
 */
body{
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}
/**
 * style des liens
 */
h3{
  margin: 0;
}
p{
  margin: 0;
}
/**
 * style des liens
 */
ul {
  padding: 0;
}
/**
 * style des liens
 */
li {
  list-style: none;
  margin: 0;
}
/**
 * style des liens
 */
a {
  color: inherit;
  font-weight: 900;
  text-decoration: none;
}
