// -----------------------------------------------------------------------------
// propriétés typographiques de base
// -----------------------------------------------------------------------------

body {
  font-family: $regular-font;
  color: $black-color;
  font-size: 1rem;
  font-weight: 400;
}
h1{
  font-family: $regular-font;
  font-size: 1.48rem;
  font-weight: 600;
}
h3{
  font-family: $regular-font;
  font-size: 1.13rem;
  font-weight: 700;
}
p{
  font-family: $regular-font;
  font-size: 1.06rem;
  font-weight: 400;
}