// -----------------------------------------------------------------------------
// fichier contenant les mixins.
// -----------------------------------------------------------------------------
//! développé sur iphone 11 pro ios 14.6
/**
 * mixin pour l'affichage sur tablette
 * breakpoint = 768px
 */
 @mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
} 
/**
 * mixin pour l'affichage sur desktop
 * breakpoint = 992px
 */
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}
/**
 * largeur
 * padding
 */
@mixin smart-btn($color1, $color2: null, $shadows: $shadow-btn, $lgn: 0) {
    @each $event, $shw in $shadows {
        @if ($event == mute) {
            box-shadow: map-get($shw, shadow);
            @if ($color2 != null) {
                background: linear-gradient(to left top, $primary-color, $secondary-color);
            } @else {
                background-color: $color1;
            } 
        }
        @else{
            &:#{$event} {
                box-shadow: map-get($shw, shadow);
                @if ($color2 !=null) {
                    background: linear-gradient(to left top, lighten($primary-color, $lgn), lighten($secondary-color, $lgn));
                }
            }
        }
    }
}