// -----------------------------------------------------------------------------
// fichier des mixins.
// -----------------------------------------------------------------------------

/**
 * affichage sur tablette
 * breakpoint = 768px
 */
 @mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
} 
/**
 * affichage sur desktop
 * breakpoint = 992px
 */
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}
/**
 *  création des classes pour
 *  l'animation dish-anim
 *  pramètres: nombre d'entées, nombre de plats, nombre de desserts
 */
@mixin create-class-anim($nd: $dish-starter $dish $dish-sweet){
    $n: 0;
    @for $i from 1 through 3 {
        @for $j from 1 through nth($nd, $i) {
            &--#{$i}#{$j} {
                animation-delay: ( $n + $j ) * $delay-dish-anim;
            }    
        }
        $n: $n + nth($nd, $i) - 1;
    }
}