// -----------------------------------------------------------------------------
// fichier regroupant l'ensemble des variables
// -----------------------------------------------------------------------------

//* définition des polices de caratères
// Police du texte
$regular-font: 'Roboto', sans-serif;
// Police des titres
$title-font: 'Shrikhand', cursive;

//* définition des couleurs
// couleur primaire mauve
$primary-color: #9356DC;
// couleur secondaire rose
$secondary-color: #FF79DA;
// couleur tertiaire menthe
$tertiary-color: #99E2D0;
$tertiary-color-text: #008766;
// couleurs de fond des conteneurs
$grey-color: #EAEAEA;
$soft-grey-color: #F6F6F6;
$middle-grey-color: #D6D6D6;
$dark-grey-color: #353535;
// couleur principale du texte
$black-color: #000;
// couleur de texte sur fond coloré
$white-color: #fff;

//* Définition de l'ombre des boutons
// propriétés de l'ombre avant animation
$shw-btn-thicken: 5px;    // épaisseur sur l'axe y
$shw-btn-blur: 8px;       // floutage
$shw-btn-spread: 0px;     // étalement
$shw-btn-color: #C9C9C9;  // couleur
// paramètre d'animation de l'ombre
$shw-thickness: 3px;   // augmentation de l'épaisseur
$shw-spread: 1px;      // renforcer l'étalement
$shw-darken: 18%;  // assombrir l'ombre 
// map contenant l'ombre initiale et l'ombre animée
$shadow-btn:(
  mute:(
    shadow: 0 $shw-btn-thicken $shw-btn-blur $shw-btn-spread $shw-btn-color
  ),
  hover:(
    shadow: 0 $shw-btn-thicken+$shw-thickness $shw-btn-blur $shw-btn-spread+$shw-spread darken($shw-btn-color, $shw-darken)
  )
);

//* Changement du background des boutons au survol
$bgbtn-nav-color: #F5EDFF; // background des boutons du menu
$bgbtn-lighten: 5%;  // éclaircicement du background des boutons à gradient


//* largeur maximale de conteneur
$max-width: 1366px;

//* défintion des breakpoints dans une map
/*  width < 768px: smartphone
/   992px < width > 768px: tablette
/   width > 992px: desktop
*/
$breakpoints: (
  'tablet': 768px,
  'desktop': 992px
);